.personal-info {
  background-image: none;
  background-repeat: no-repeat;
  background-size: contain;
  color: $white;
  font-size: 18px / $font_default * 1em;
  letter-spacing: 0.8px;
  line-height: 1.56;
  margin: 50vh auto;
  position: relative;
  text-align: left;
  width: 65%;

  .letters {
    display: none;
  }

  .container {
    width: 85%;
  }

  .bold {
    color: $white;
    margin-top: 44px;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1025px) {
  .personal-info {
    background-image: url("/images/personal_info/border.svg");
    height: 1125px;
    padding: 6.7%;

    .letters {
      display: inline-block;
      max-width: 330px;
      position: absolute;
      width: 33.67%;
    }

    .container {
      margin-left: 36%;
      margin-top: 29%;
      width: 54.90%;
    }
  }
}
