.case-detail-page {
  background-color: $sand;

  .container {
    width: 85%;
  }

  .intro {
    background-color: $sienna-2;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    padding-left: 0;
    padding-top: 81px;

    .title {
      font-size: 54px / $font_default * 1em;
      font-weight: bold;
      letter-spacing: 4.5px;
      line-height: 1;
      text-align: left;
    }

    .content {
      letter-spacing: 0.7px;
      margin-top: 29px;

      div:first-of-type {
        margin-bottom: 10px;
      }

      div:last-of-type {
        margin-top: 20px;
      }
    }
  }

  .aims {
    background-color: rgba(74, 49, 33, 0.85);
    display: flex;
    justify-content: center;
    padding-bottom: 71px;
    padding-left: 0;
    padding-top: 94px;

    .container {
      text-align: left;

      div:first-of-type {
        margin-bottom: 1em;
      }

      div:nth-of-type(2) {
        margin-bottom: 55px;
      }
    }
  }

  .discussion {
    display: flex;
    justify-content: center;
    padding-bottom: 137px;
    padding-left: 0;
    padding-top: 67px;   
  }

  .footer {
    align-items: stretch;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-around;
    padding-bottom: 53px;

    .copyright {
      align-items: flex-end;
      align-self: center;
      margin-top: 121px;
    }

    .mood {
      .title,
      .content {
        color: $carmine;
      }
    }

    .relief {
      .title,
      .content {
        color: $cello;
      }
    }

    .nerdwallet {
      .title,
      .content {
        color: $sienna;
      }
    }
  }

  .page-navigation {
    align-items: center;
    flex-direction: column;
    margin-top: 220px;
  }

  &.relief {
    .intro {
      background-color: #2a5578;
    }

    .aims {
      background-color: #f6eaea;
    }
  }

  &.mood {
    .intro {
      background-color: $carmine;
    }

    .aims {
      background-color: #f6eaea;
    }
  }
}

@media screen and (min-width: 1025px) {
  .case-detail-page {
    .container {
      max-width: 472px;
    }

    .intro {
      justify-content: flex-start;
      padding-left: 22.3%;

      .container {
        width: 35.3%;
      }
    }

    .aims {
      justify-content: flex-start;
      padding-left: 22.3%;
    }

    .discussion {
      display: block;
      padding-left: 33%;

      .container {
        max-width: 676px;
      }   
    }
  }
}

@media screen and (min-width: 651px) {
  .case-detail-page {
    .page-navigation {
      flex-direction: row;
    }
  }
}
