.footer {
  align-items: center;
  background-image: url('/images/footer/footer.svg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 480px;
  position: relative;
}

.page-navigation {
  display: flex;
  justify-content: space-around;
  margin-top: 188px;

  .left,
  .right {
    display: flex;
    flex-direction: row;
  }

  .indicator {
    background-repeat: no-repeat;
    height: 158px;
    width: 53px;
  }

  .title {
    letter-spacing: 1.3px;
    margin-bottom: 13px;
    text-align: left;
  }

  .content {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: left;
  }

  .left .indicator {
    background-image: url('/images/footer/mood-left.svg');
    margin-right: 22px;
  }

  .right .indicator {
    background-image: url('/images/footer/relief-right.svg');
    margin-left: 22px;
    order: 2;
  }
}

.contact {
  align-items: flex-end;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: -102px;

  .hello {
    align-self: flex-start;
  }
}

.copyright {
  display: flex;

  .content {
    color: $black;
    font-size: 18px / $font_default * 1em;
    letter-spacing: 1.5px;
    text-align: left;
  }
}

@media screen and (min-width: 651px) {
  .contact {
    .dribbble,
    .instagram {
      margin-right: 40px;
    }
  }
}

@media screen and (max-width: 650px) {
  .contact {
    width: 100%;
  }
}
