.landing-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.landing-page__header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding-bottom: 60px;
  padding-top: 55px;

  a {
    color: $white;
	}

  .hello {
    align-items: center;
    display: flex;
  }

  .hello img {
    margin-left: 11px;
  }
}

.landing-page__body {
  align-items: center;
  display: flex;
  flex: 0.5;
  flex-direction: column;
  justify-content: center;

  .l-1 {
    max-width: 282px;
    width: 26%;
	}

  .l-2 {
    align-items: center;
    margin-top: 2.09%;
    max-width: 661px;
    width: 85%;
	}

  .l-3 {
    margin-top: 2.79%;
    max-width: 526px;
    width: 48.6%;
	}
}

@media screen and (min-width: 1025px) {
  .landing-page__header {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 651px) {
  .landing-page__header {
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;

    a {
      margin-left: 50px;
    }
  }
}
