$black:    #242422;
$black-2:  #4a4a4a;
$white:    #eae0d0;
$white-2:  #fff;
$purple:   #60376b;
$sienna:   #cf874e;
$sienna-2: #ce7834;
$bismark:  #426b8b;
$tabasco:  #972311;
$carmine:  #b34332;
$cello:    #214a6a;
$sand:     #f6f6f6;
